<!-- Header without a border -->
<ion-header class="ion-no-border">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start" style="zoom:1.3;">
            <!--ion-back-button></ion-back-button-->
            <ion-button (click)="goHome()" fill="clear">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" style="zoom:1.3;">
            <ion-button large>
                <ion-icon name="share-social-outline" ></ion-icon>
            </ion-button>
            <ion-button large>
                <ion-icon name="star-outline" ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div class="img-box">
        <ion-img src="/assets/Images/casablanca.jpg" ></ion-img>
        <div class="title-box">
            <b>Event type</b><br/>
            <span>
                {{event.informations.title}} {{event.informations.date}}
            </span>
        </div>
    </div>
    <ion-card-header>
        <ion-card-title>Sponsors</ion-card-title>
    </ion-card-header>
    <div class="sponsors">
        <ion-img src="/assets/sponsors/orange.png" ></ion-img>
    </div>

    <!-- Segment with secondary color -->
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" [(ngModel)]="segment">
        <ion-segment-button  value="details">
            <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="participants">
            <ion-label>Participants</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="needed">
            <ion-label>Needed</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div *ngIf="segment === 'details'">
        <ion-list lines="none" >
            <ion-item >
                <ion-icon name="location-outline"></ion-icon>
                <ion-label class="label"> City :</ion-label>
                <ion-label>{{event.informations.city}} </ion-label>
            </ion-item >

            <ion-item >
                <ion-icon name="bookmarks-outline"></ion-icon>
                <ion-label class="label">Organized by :</ion-label>
                <ion-label> {{event.informations.organizedby}}</ion-label>
            </ion-item>

            <ion-item >
                <ion-icon name="person-outline"></ion-icon>
                <ion-label class="label">Cordoned by :</ion-label>
                <ion-label> {{event.informations.cordonedby}}</ion-label>
            </ion-item>

            <ion-item >
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-label class="label">Date :</ion-label>
                <ion-label> {{event.informations.date}}</ion-label>
            </ion-item>

            <ion-item >
                <ion-icon name="time-outline"></ion-icon>
                <ion-label class="label">Hour :</ion-label>
                <ion-label> {{event.informations.hour}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="segment === 'participants'">
        <ion-list>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-img src="/assets/avatar/avatar2.png"></ion-img>
                </ion-avatar>
                <div class="card-info">
                    <ion-label>
                        <h2>Abdelouahid Eddaoudi</h2>
                        <h3>0621889266</h3>
                    </ion-label>
                </div>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-img src="/assets/avatar/avatar3.png"></ion-img>
                </ion-avatar>
                <div class="card-info">
                    <ion-label>
                        <h2>Loubna Aminou</h2>
                        <h3>0621889266</h3>
                    </ion-label>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="segment === 'needed'">
        <ion-list  lines="none" >
            <ion-item *ngFor="let need of event.needed">
                <ion-label>
                    {{need.item}} ( {{need.nbr}} of {{need.total}} ) <br>
                    <ion-progress-bar color="primary" value="{{need.nbr/need.total}}"></ion-progress-bar>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
  