<ion-content>
  <form>
    <br><br><br><br><br><br><br>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="forgotPassword.email" [ngModelOptions]="{standalone: true}" pattern=".+@.+\..+"
        clearInput="true" clearOnEdit="true" required #emailInput="ngModel"></ion-input>
      <ion-icon name="mail-outline" slot="end" class="suffix-icon"></ion-icon>
    </ion-item>
    <div class="help is-error error-message" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
      <div *ngIf="emailInput.errors.required">Email is required</div>
      <div *ngIf="!emailInput.errors.required">Email is not valid</div>
    </div>
    <br>
    <!--submit button-->
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" class="submit" (click)='forgot()'>Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>