/****form size****/
form {
    margin: 30px;
}

/****email icon****/
.suffix-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

/****submit button****/
.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 9999em;
    text-align: center;
    width: 80%;
}

/****error message****/
.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.OTP-border {
    max-width: 80%;
    margin: auto;
    ion-col {
        div {
            border-bottom: 1px solid #0C4559;
        }

    }
}
.otpinput {
    letter-spacing: 30px;
    -webkit-padding-end: 0;
    --padding-end: 0;
    font-size: 30px;
    border: none;
    background: white;
    color : #0C4559;
}

.small {
    font-size: 13px;
    a {
        text-decoration: unset !important;
    }
}
.text-otp {
    width: 80%;
    margin: auto;
    text-align: center;
}