<ion-content>
  <form>
    <br><br><br><br><br><br><br>
    <div *ngIf="showOTPInput === 0">
      <ion-item  lines="full">
        <ion-label position="floating">Phone<span class="required">*</span></ion-label>
        <ion-input type="tel" [(ngModel)]="forgotPassword.phone" [ngModelOptions]="{standalone: true}"  clearInput="true" clearOnEdit="true" inputmode="tel" pattern="^0[67]{1}[^0\D]{1}\d{7}$" required #phoneInput="ngModel"></ion-input>
        <ion-icon name="call-outline" slot="end" class="suffix-icon"></ion-icon>
      </ion-item>
      <div class="help is-error error-message" *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)">
        <div *ngIf="phoneInput.errors.required">Phone is required</div>
        <div *ngIf="!phoneInput.errors.required">Phone is not valid</div>
      </div>
      <br>
      <ion-row>
          <ion-button (click)="next(phoneInput)" expand="block"  class="submit">
            <strong class="white">Next</strong>
          </ion-button>
      </ion-row>
    </div>
    <div *ngIf="showOTPInput === 1">
      <ion-row  class="OTP-border">
        <ion-col>
          <div>
            <ion-input name="1" type="tel" [(ngModel)]="OTP[0]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp1,'')" #otp0>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="2" type="tel" [(ngModel)]="OTP[1]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp2,otp0)" #otp1>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="3" type="tel" [(ngModel)]="OTP[2]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp3,otp1)" #otp2>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="4" type="tel" [(ngModel)]="OTP[3]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp4,otp2)" #otp3>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="5" type="tel" [(ngModel)]="OTP[4]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp5,otp3)" #otp4>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="6" type="tel" [(ngModel)]="OTP[5]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,'',otp4)" #otp5>
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="text-otp">
        <ion-col>
          <ion-text class="small">{{OTPmessage}}</ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
          <ion-button expand="block" (click)="toChangePassword()" class="submit">
            <strong class="white">Next</strong>
          </ion-button>
      </ion-row>
    </div>
    <div *ngIf="showOTPInput === 2">
      <ion-item lines="full">
        <ion-label position="floating">Password<span class="required">*</span></ion-label>
        <ion-input type="password" [(ngModel)]="changePasswordForm.password" [ngModelOptions]="{standalone: true}" clearInput="true" clearOnEdit="true" required [minlength]="6" #passwordInput="ngModel"></ion-input>
        <ion-icon name="key-outline" slot="end" class="suffix-icon"></ion-icon>
      </ion-item>
      <div class="help is-error error-message" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
        <div *ngIf="passwordInput.errors.required">Password is required</div>
        <div *ngIf="passwordInput.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">Confirm Password<span class="required">*</span></ion-label>
        <ion-input [(ngModel)]="changePasswordForm.rePassword" [ngModelOptions]="{standalone: true}" type="password" clearInput="true" clearOnEdit="true" required [minlength]="6" #repasswordInput="ngModel"></ion-input>
        <ion-icon name="key-outline" slot="end" class="suffix-icon"></ion-icon>
      </ion-item>
      <div class="help is-error error-message" *ngIf="repasswordInput.invalid && (repasswordInput.dirty || repasswordInput.touched)">
        <div *ngIf="repasswordInput.errors.required">Confirm Password is required</div>
        <div *ngIf="repasswordInput.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <div class="help is-error error-message" *ngIf="passwordInput.dirty && repasswordInput.dirty && changePasswordForm.rePassword !== changePasswordForm.password">
        Passwords don't appear to match.
      </div>
      <br>
      <ion-row>
        <ion-button (click)="changePassword(passwordInput,repasswordInput)" expand="block"  class="submit">
          <strong class="white">Change password</strong>
        </ion-button>
      </ion-row>
    </div>
  </form>
</ion-content>