/****form size****/
form {
    margin: 30px;
}

/****email icon****/
.suffix-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

/****submit button****/
.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 9999em;
    text-align: center;
}

/****error message****/
.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}