<ion-header>
    <ion-toolbar color="secondary">
        <ion-row (click) ="toHome()" class="ion-align-items-left row-title">
            <ion-thumbnail>
                <ion-img [src]="srcFile" ></ion-img>
            </ion-thumbnail>
            <ion-title id="title" [hidden]="!isDisplayed && widthSize < 370"  color="light">
              FeedApp
            </ion-title>
        </ion-row>


        <ion-buttons slot="primary">
          <ion-button [hidden]="!this.platform.url().includes('/home')" *ngIf="!isDisplayed" (click)="logForm()" color="light" class="ion-text-capitalize">
                search
          </ion-button>

          <ion-button [hidden]="!this.platform.url().includes('/home')" id="search" (click)="toggle()">
            <ion-icon name="search-outline" color="light"></ion-icon>
          </ion-button>
          <ion-button id="signIn" *ngIf="infoUser == null" (click)="toAuth('signIn')" class="ion-text-capitalize">Sign in</ion-button>
          <ion-button id="signUp" *ngIf="infoUser == null" (click)="toAuth('signUp')" class="ion-text-capitalize">Sign up</ion-button>
        </ion-buttons>
        <!-- avatar image of user -->
        <ion-buttons *ngIf="infoUser != null" slot="end">
            <ion-avatar (click)="openMenu()">
                <ion-img class="user-image" [src]="srcAvatar"></ion-img>
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
   <div *ngIf="!isDisplayed" [hidden]="!this.platform.url().includes('/home')" color="light">
       <ion-row>
           <ion-searchbar id="cityOrActivity" [(ngModel)]="searchForm.activity" searchIcon="search" placeholder="City or Activity" inputmode="text" type="search"></ion-searchbar>
           <ion-searchbar id="date" [(ngModel)]="searchForm.date" (ionFocus) = "picker.open()"  (ionChange)="setTime()" searchIcon="calendar" placeholder="Date" type="search" >
               <ion-datetime hidden #picker displayFormat="DD/MM/YYYY" placeholder="dd/mm/yy" [(ngModel)]="searchForm.date" (ionCancel) = "searchForm.date =''"></ion-datetime>
           </ion-searchbar>
       </ion-row>
   </div>
</ion-header>

<ion-fab horizontal="end" [hidden]="this.platform.url().includes('/contact')" vertical="bottom" (click)="changeTheme()" slot="fixed">  
    <ion-fab-button color="warning">
      <ion-icon md="add" ios="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="About">
        <ion-icon name="information-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openContact()"  data-desc="Contact">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toCreate()" data-desc="Add Event">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="infoUser != null" (click)="logOut()" data-desc="LogOut">
          <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
