<ion-header>
    <ion-toolbar >
        <a routerLink="/home" style="text-decoration: none;">
            <ion-row class="ion-align-items-left">
                <ion-thumbnail>
                    <ion-img [src]="srcFile"></ion-img>
                </ion-thumbnail>
                <ion-title id="title"  *ngIf = "isDisplayed" color="light">FeedApp</ion-title>
            </ion-row>
        </a>
        <ion-buttons slot="primary">
          <ion-button *ngIf="!isDisplayed" (click)="logForm()" color="light" class="ion-text-capitalize">
                search
          </ion-button>

          <ion-button id="search" (click)="toggle()">
            <ion-icon name="search-outline" color="light"></ion-icon>
          </ion-button>
          <ion-button id="signIn" (click)="resetValue()" class="ion-text-capitalize">Sign in</ion-button>
          <ion-button id="signUp" (click)="logForm()" class="ion-text-capitalize">Sign up</ion-button>
        </ion-buttons>

    </ion-toolbar>
   <div *ngIf="!isDisplayed">
       <ion-row>
           <ion-searchbar id="cityOrActivity" [(ngModel)]="searchForm.activity" searchIcon="search" placeholder="City or Activity" inputmode="text" type="search"></ion-searchbar>
           <ion-searchbar id="date" [(ngModel)]="searchForm.date" (ionFocus) = "picker.open()"  (ionChange)="setTime()" searchIcon="calendar" placeholder="Date" type="search" >
               <ion-datetime hidden #picker displayFormat="DD/MM/YYYY" placeholder="dd/mm/yy" [(ngModel)]="searchForm.date" (ionCancel) = "searchForm.date =''"></ion-datetime>
           </ion-searchbar>
       </ion-row>
   </div>
</ion-header>
