<ion-content>
  <div class="about-section">
      <h4 class="section-title section-title-bold-center">
          <span class="section-title-main" >WHO ARE WE ?!</span>
      </h4>
       We are a non-profit Moroccan <br>
       association,which aims to offer <br>
       a good life to homeless people,<br>
       through the distribution of food,<br>
       hygiene products, covers. In short, <br>
       all the basic needs of a human <br>
       being. We are working on several <br>
       projects to help this neglected <br>
       population. Our long-term vision <br>
       is to help homeless people with <br> 
      social inclusion,and professional.<br>
  </div>
  <div class="about-section">
    <h4 class="section-title section-title-bold-center">
      <span class="section-title-main">FOUNDER</span>
    </h4>
    <div class="box-image-inner">
      <img src="assets/Images/rachid.webp" alt="">
      <h2>RACHID BEGGAR</h2>
      <h4>FOUNDER OF ZERO HUNGER MOROCCO</h4>
    </div>
  </div>
  <div class="about-section">
      <h4 class="section-title section-title-bold-center">
        <span class="section-title-main" >OUR RECENT PROJECTS</span>
      </h4>
      <div>
        <div class="column">
          <div >
            <div class="icon"><img src="assets/project/zero-acadmy.png" ></div>
          </div>
        </div>

        <div class="column">
          <div >
            <div class="icon"><img src="assets/project/zero-care.png" ></div>
          </div>
        </div>

        <div class="column">
          <div>
            <div class="icon"><img src="assets/project/zero-restaucycle.png" ></div>
          </div>
        </div>
      </div>
  </div>
  <div class="about-section">
    <h4 class="section-title section-title-bold-center" >
        <span class="section-title-main">Why Joining US ?</span>
    </h4>
    <ion-row>
      <ion-col>
        <div>
          <img src="assets/Images/social-network.webp" width="100px" alt="">
          <h2>Real Impact</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img src="assets/Images/impact.webp" width="100px" alt="">
          <h2>Easy To Join</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img src="assets/Images/process.webp" width="100px" alt="">
          <h2>continuous learning</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img src="assets/Images/teamwork.webp" width="100px" alt="">
          <h2>Team Work</h2>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>