<ion-content>
  <div class="about-section">

    <ion-grid>
      <h4 class="section-title section-title-bold-center">
        <b></b>
        <span class="section-title-main" style="padding:10px;" >WHO ARE WE ?!</span>
        <b></b>
      </h4>
    </ion-grid>
       We are a non-profit Marociane <br>
       association,which aims to offer <br>
       a good life to homeless people,<br>
       through the distribution of food,<br>
       hygienic products, covers. In short, <br>
       all the basic needs of a human <br>
       being. We are working on several <br>
       projects to help thisneglected <br>
       population. Our long-term vision <br>
       is to help homeless people with <br> 
      social inclusion,and professional.<br>
  </div>

  <div class="about-section">
    <h4 class="section-title section-title-bold-center">
      <b></b>
      <span class="section-title-main" style="padding:10px;">FOUNDER</span>
      <b></b>
    </h4>
    <div class="box-image-inner image-cover" style="margin-bottom:40px">
      <img src="assets/Images/rachid.webp" alt="" style="border-radius:50%;width:50%">
      <h2 style="color:rgb(7, 7, 7);  font-family:Lato, sans-serif; font-size:20px;">RACHID BEGGAR</h2>

      <h4 style="font-size:11px;margin-top:-6px">FOUNDER OF ZERO HUNGER MOROCCO</h4>
    </div>
  </div>





  <div class="about-section"> <h4 class="section-title section-title-bold-center" style="margin-bottom:30px">
      
    <span class="section-title-main" style="padding:10px;">OUR RECENT PROJECTS</span>
    
  </h4>
  <div style="margin-left:-10px">
    <div class="column">
      <div >
        <div class="icon"><img src="assets/Images/projet1.webp" width="300px"></div>
      </div>
    </div>
    
    <div class="column">
      <div >
        <div class="icon"><img src="assets/Images/projet2.webp" width="300px"></div>
      </div>
    </div>
    
    <div class="column">
      <div>
        <div class="icon"><img src="assets/Images/projet3.webp" width="300px"></div>
      </div>
      <div style="padding: 30px;"></div>
    </div>
     </div>
    </div>
 
 
  

    
      <div class="about-section"> 
        
        <h4 class="section-title section-title-bold-center" >
        <b></b>
        <span class="section-title-main" style="padding:10px;">Why Joining US ?</span>
        <b></b>
      </h4>
    
     <ion-row>
          <ion-col>
            <div>
              <img src="assets/Images/social-network.webp" width="100px" alt="">
              <h2>Real Impact</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <img src="assets/Images/impact.webp" width="100px" alt="">
              <h2>Easy To Join</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <img src="assets/Images/process.webp" width="100px" alt="">
              <h2>continuous learning</h2>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <div>
              <img src="assets/Images/teamwork.webp" width="100px" alt="">
              <h2>Team Work</h2>
            </div>
          </ion-col>
        </ion-row>
    </div>
   
     
      
       
       

    
    