<ion-content>
  <div class="container">
    <div class="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <h3>Your Notifications</h3>
    </div>
    <ion-card>
      <ion-card-content>
        <ion-avatar slot="start">
          <ion-img src="../../../../assets/Images/ouma.jpg"></ion-img>
        </ion-avatar>
        <p>
          <strong>Oumaima</strong> added you to the meal action as participant
        </p>
        <ion-icon name="alarm-outline"></ion-icon>
        2min ago
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
