<ion-content>
  <div class="container">
    <div class="action">
      <ion-icon name="list-outline"></ion-icon>
      <h3>Your Activities's timeline</h3>
    </div>

    <div class="event1">
      <div class="time">
        <ul>
          <li>18/04/2020</li>
        </ul>
      </div>
      <div class="info">
        <ul>
          <span></span>
          <li class="title">Clothes Action</li>
          <li class="place">
            <ion-icon name="location" slot="start"></ion-icon> Agadir
          </li>
          <li class="role">
            <ion-icon name="person" slot="start"></ion-icon> Volunteer
          </li>
        </ul>
      </div>
    </div>

    <div class="event2">
      <div class="time">
        <ul>
          <li>18/04/2020</li>
        </ul>
      </div>
      <div class="info">
        <ul>
          <span></span>
          <li class="title">Meal Action</li>
          <li class="place">
            <ion-icon name="location" slot="start"></ion-icon> Casablanca
          </li>
          <li class="role">
            <ion-icon name="person" slot="start"></ion-icon> Action Manager
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
