<div class="change-password" *ngFor="let profile of profiles">
  <div class="reset-password">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <h3>Reset Password</h3>
    <p>Enter your password below,<br />we're just being extra safe</p>
  </div>
  <form>
    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="key" slot="start"></ion-icon>
        New Password
      </ion-label>
      <ion-input value="" inputmode="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="key" slot="start"></ion-icon>
        Confirm New Password
      </ion-label>
      <ion-input value="" inputmode="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="update">
          <ion-icon slot="start" name="key"></ion-icon>
          Change Password
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
