<ion-button (click) = "contentChange()" fill="clear">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>
<div class="change-password">
  <div class="reset-password">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <h3>Reset Password</h3>
    <p>Enter your password below,<br />we're just being extra safe</p>
  </div>
  <form>
    <div *ngIf="!showOTPInput">
      <ion-item lines="none">
        <ion-label color="tertiary" position="stacked">
          <ion-icon name="key" slot="start"></ion-icon>
          New Password
        </ion-label>
        <ion-input class="inputForm" value="" inputmode="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="tertiary" position="stacked">
          <ion-icon name="key" slot="start"></ion-icon>
          Confirm New Password
        </ion-label>
        <ion-input class="inputForm" value="" inputmode="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button class="update" (click)="next()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="showOTPInput">
      <ion-row  class="OTP-border">
        <ion-col>
          <div>
            <ion-input name="1" type="tel" [(ngModel)]="OTP[0]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp1,'')" #otp0>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="2" type="tel" [(ngModel)]="OTP[1]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp2,otp0)" #otp1>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="3" type="tel" [(ngModel)]="OTP[2]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp3,otp1)" #otp2>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="4" type="tel" [(ngModel)]="OTP[3]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp4,otp2)" #otp3>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="5" type="tel" [(ngModel)]="OTP[4]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,otp5,otp3)" #otp4>
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input name="6" type="tel" [(ngModel)]="OTP[5]" maxlength="1" class="otpinput"
                       padding-horizontal (keyup)="otpController($event,'',otp4)" #otp5>
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="text-otp">
        <ion-col>
          <ion-text class="small">{{OTPmessage}}</ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-button expand="block" (click)="toSignIn()" class="update">
          <strong class="white">Change password</strong>
        </ion-button>
      </ion-row>
    </div>
  </form>
</div>
