<ion-button (click) = "contentChange()" fill="clear">
  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
</ion-button>
<div class="edit-profile" >
  <ion-avatar class="avatar-edit">
    <img src="{{profile?.img}}" />
    <ion-fab-button id="user_pic">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-avatar>
  <br>
  <form>
    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="person" slot="start"></ion-icon>
        Full Name
      </ion-label>
      <ion-input value="{{ profile?.name }}" inputmode="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="call" slot="start"></ion-icon>
        Phone
      </ion-label>
      <ion-input value="{{ profile?.phone }}" inputmode="tel"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="mail" slot="start"></ion-icon>
        Email
      </ion-label>
      <ion-input value="" inputmode="email" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="transgender" slot="start"></ion-icon>
        Gender
      </ion-label>
      <ion-input value="" inputmode="text"  ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="tertiary" position="stacked">
        <ion-icon name="location" slot="start"></ion-icon>
        City
      </ion-label>
      <ion-input value="" inputmode="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="update">
          <ion-icon slot="start" name="create"></ion-icon>
          Update Profile
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
