<ion-button (click) = "contentChange()" fill="clear">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>
<div class="team" >
  <div class="myteam">
    <ion-icon name="people-outline"></ion-icon>
    <h3>My Team</h3>
    <p>Together we stand <br />Divided we fall</p>
  </div>
  <div class="container">
    <ion-list>
      <ion-list-header>
        Team Manager
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="{{profile?.img}}"></ion-img>
        </ion-avatar>
        <div class="card-info">
          <ion-label>
            <h2>{{ profile?.name }} </h2>
            <h3>{{ profile?.phone }} </h3>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end">
          Gold
        </ion-badge>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Team Members
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="{{profile?.img}}"></ion-img>
        </ion-avatar>
        <div class="card-info">
          <ion-label>
            <h2>{{ profile?.name }} </h2>
            <h3>{{ profile?.phone }} </h3>
          </ion-label>
        </div>
        <ion-badge color="medium" slot="end">
          Silver
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</div>

