<div class="team" *ngFor="let profile of profiles">
  <div class="myteam">
    <ion-icon name="people-outline"></ion-icon>
    <h3>My Team</h3>
    <p>Together we stand <br />Divided we fall</p>
  </div>

  <ion-card>
    <ion-card-title>Team Manager</ion-card-title>
    <ion-card-content>
      <img src="../../assets/Images/ouma.jpg" />
      <div class="card-info">
        <ion-label> {{ profile.informations.name }} </ion-label>
        <ion-badge color="warning" slot="end">
          {{ profile.informations.badge1 }}
        </ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Team Members</ion-card-title>
    <ion-card-content>
      <img src="../../assets/Images/ouma.jpg" />
      <div class="card-info">
        <ion-label> {{ profile.informations.name }} </ion-label>
        <ion-badge color="medium" slot="end">
          {{ profile.informations.badge2 }}
        </ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
</div>
