@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/************profile**************/
.name-badge {
  text-align: center;
  margin-top: 2em;
}
.name-badge ion-badge {
  margin-bottom: -4px;
}
.info {
  margin-top: 2em;
}
.info ion-item {
  display: block;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0b5394;
  border-radius: 10px;
  box-shadow: 1px 2px 8px #888888;
  width: 80%;
}
.info ion-icon {
  color: #0b5394;
}

/************edit profile**************/
.edit-profile{
  ion-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ion-icon {
    font-size: 18px;
  }

  ion-label {
    font-size: 18px;
    margin-left: 1em !important;
    color: #0b5394 !important ;
  }

  ion-input {
    margin-top: 0.5em;
    border: 1px solid #0b5394;
    border-radius: 9999em;
    text-align: left;
    padding-left: 1em !important;
  }

  ion-input:focus, ion-input:hover {
    border: 1px solid #f3c727 !important;
  }

  .avatar-edit {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.update {
  width: 50%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 9999em;
  background-color: #0b5394 !important;
}


/************change password**************/
.change-password {
  ion-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  ion-icon {
    font-size: 18px;
  }
  ion-label {
    font-size: 18px;
    margin-left: 1em !important;
    color: #0b5394 !important ;
  }
  .inputForm {
    margin-top: 0.5em;
    border: 1px solid #0b5394;
    border-radius: 9999em;
    text-align: left;
    padding-left: 1em !important;
  }
  .inputForm:focus, .inputForm:hover {
    border: 1px solid #f3c727 !important;
  }



  .OTP-border {
    max-width: 80%;
    margin: auto;
    ion-col {
      div {
        border-bottom: 1px solid #0C4559;
      }

    }
  }
  .otpinput {
    letter-spacing: 30px;
    -webkit-padding-end: 0;
    --padding-end: 0;
    font-size: 30px;
    border: none;
    background: white;
    color : #0C4559;
  }

  .small {
    font-size: 13px;
    a {
      text-decoration: unset !important;
    }
  }
  .text-otp {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

/************my team**************/
.reset-password,
.myteam {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1em;
}
.reset-password h3,
.myteam h3 {
  color: #606060;
  font-family: "Oswald", serif;
}
.reset-password p,
.myteam p {
  font-family: "Oswald", serif;
}
.reset-password ion-icon,
.myteam ion-icon {
  padding: 0.5em;
  font-size: 30px;
  color: #606060;
  border: 2px solid #606060;
  border-radius: 9999em;
  background-color: #e9e8eb;
}
.team ion-card {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.team img {
  height: 50px;
  border-radius: 10px;
  text-align: left;
  float: left;
}
.card-info ion-label {
  font-size: 14px;
  margin-left: 1em !important;
  color: #0b5394 !important;
  text-align: left;
}
.card-info ion-badge {
  margin-top: 0.5em;
  margin-left: 0.5em;
}


ion-header {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #0b5394, #0575e6);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

ion-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}
.header-md::after {
  bottom: 0;
  background-image: none;
}

#avatar-header {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  img {
    margin-top: 3em;
    width: 70px;
  }
}


#user_pic {
  margin-top: -2.3em;
  margin-left: 3em;
  width: 30px;
  height: 30px;
  ion-icon {
    font-size: 20px;
  }
}
ion-list-header {
  font-size : 20px;
}



