<ion-header no-border [hidden]="contentToShow !== 'main'">
  <ion-avatar id="avatar-header">
    <img src="{{this.infoUser?.img}}" />
    <ion-fab-button id="user_pic">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-avatar>
</ion-header>

<ion-content ng-model="Profile" >
  <div *ngIf="contentToShow === 'main'">
    <div class="name-badge">
      <ion-label> {{infoUser?.name}} </ion-label>
      <ion-badge color="warning" slot="end">
        Gold
      </ion-badge>
    </div>

    <div class="info">
      <ion-list lines="none">
        <ion-item-sliding>
          <ion-item button ng-model="EditProfile" (click)="showProfile()">
            <ion-icon slot="start" name="create"></ion-icon>
            <ion-label>
              Edit Profile
            </ion-label>
            <ion-note slot="end"> </ion-note>
          </ion-item>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item button ng-model="ChangePassword" (click)="showPassword()">
            <ion-icon slot="start" name="key"></ion-icon>
            <ion-label>
              Change Password
            </ion-label>
            <ion-note slot="end"> </ion-note>
          </ion-item>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item button ng-model="Team" (click)="showTeam()">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
              My team
            </ion-label>
            <ion-note slot="end"> </ion-note>
          </ion-item>
        </ion-item-sliding>

        <ion-item>
          <ion-icon slot="start" name="notifications"></ion-icon>
          <ion-label>
            Notifications
          </ion-label>
          <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="contentToShow === 'edit'">
    <div >
      <app-edit-profile [profile]="infoUser" (goBack)='setContent($event)'></app-edit-profile>
    </div>
  </div>
  <div *ngIf="contentToShow === 'password'">
    <div >
      <app-change-password [profile]="infoUser" (goBack)='setContent($event)'></app-change-password>
    </div>
  </div>
  <div *ngIf="contentToShow === 'team'">
    <div >
      <app-myteam [profile]="infoUser" (goBack)='setContent($event)'></app-myteam>
    </div>
  </div>
</ion-content>



