<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>

<ion-app >
  <app-header id="modal" *ngIf="errorVersion" [hidden]="this.platform.url().includes('/auth')" [hidden]="this.platform.url().includes('/event-details')" [hidden]="this.platform.url().includes('/intro')"></app-header>
  <!-- menu slide -->
  <ion-menu *ngIf="this.currentUser" side="end" menuId="first" contentId="page-wrap">
    <!--ion-header color ="primary">
      <ion-toolbar (click)="openProfile()">
          <ion-avatar class="avatar-menu">
            <ion-img class="user-image" [src]="srcAvatar"></ion-img>
          </ion-avatar>
        <ion-title class="title-menu">{{this.currentUser?.name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle >
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-button class="logout" color="light" (click)="logOut()">
        <ion-label> Logout </ion-label>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-content-->
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="{{srcAvatar}}" alt=""/>
        <ion-label>
          <h2> {{this.currentUser?.name}} </h2>
          <p>{{this.currentUser?.phone}}</p>
        </ion-label>
      </div>
      <ion-list lines="none" *ngFor="let pages of navigate" class="menu-items">
        <ion-menu-toggle >
          <ion-item  (click)="sideMenuAction($event, pages)" [class.active]="pages.active">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="page-wrap" >
    <ion-router-outlet *ngIf="errorVersion"></ion-router-outlet>
  </ion-content>
</ion-app>
