<!--header-->
<ion-header>
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<!--content-->
<ion-content>
  <ion-grid>
    <ion-row class="ion-row1">
      <ion-col>
        <ion-input type="text" id="input-actionTitle" placeholder="Title of action"></ion-input><br>
        <ion-select placeholder="Action Type" id="sel-actionType">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select> <br>
        <ion-select placeholder="City" id="sel-city">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select><br>
        <ion-select placeholder="Team" id="sel-team">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select><br>
        <ion-select placeholder="Leader" id="sel-leader">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select><br>
        <ion-select placeholder="Date and time" id="sel-date-time">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select><br>
        <ion-input type="number" id="input-nbrPartic" placeholder="Number of participants"></ion-input><br>
        <!--List of needs-->
        <ion-label position="floating" id="needs-list">List of needs</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-row1" *ngFor="let item of listOfNeeds;index as i">
      <ion-col size="6">
        <ion-input type="text" id="input-item" value="{{ item.item }}" placeholder="Item"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-select placeholder="Number" id="sel-number">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="trash-outline" (click)="delthis(i)" style="font-size: 40px;float: right;color: #808289;">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-row1">
      <ion-col size='12'>
        <ion-fab horizontal="end" vertical="bottom" id="ion-fab-add"
          style="position: relative;float: right;margin: 20px 0;right: -7px;">
          <ion-fab-button color="warning" id="ion-fab-add-button" (click)="onClickMe()">
            <ion-icon name="add" id="add-btn"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>