<ion-content>
    <form>
        <!--title of action-->
        <ion-item lines="full">
            <ion-label position="floating">Title of action</ion-label>
            <ion-input clearInput="true" [ngModel]="createForm.title" clearOnEdit="true" inputmode="text" required
                minlength="3" name="title" type="text"></ion-input>
            <ion-icon name="reader-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--action type-->
        <ion-item lines="full">
            <ion-label position="floating">Action type</ion-label>
            <ion-select cancelText="Clear" required name="actionType" [(ngModel)]="createForm.type" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel)="createForm.type = null">
                <ion-select-option *ngFor="let actionType of listOfActionType" value="{{actionType.name}}">
                    {{ actionType.name }}
                </ion-select-option>
            </ion-select>
            <ion-icon name="create-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--countries-->
        <ion-item lines="full">
            <ion-label position="floating">Country</ion-label>
            <ion-select required name="city" [(ngModel)]="createForm.city" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel)="createForm.city = null">
                <ion-select-option *ngFor="let city of listOfCity" value="{{ city.name }}">
                    {{ city.name }}
                </ion-select-option>
            </ion-select>
            <ion-icon name="location-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--city-->
        <ion-item lines="full">
            <ion-label position="floating">City</ion-label>
            <ion-select required name="city" [(ngModel)]="createForm.city" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel)="createForm.city = null">
                <ion-select-option *ngFor="let city of listOfCity" value="{{ city.name }}">
                    {{ city.name }}
                </ion-select-option>
            </ion-select>
            <ion-icon name="location-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--team-->
        <ion-item lines="full">
            <ion-label position="floating">Team</ion-label>
            <ion-select required name="team" [(ngModel)]="createForm.team" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel)="createForm.team = null">
                <ion-select-option *ngFor="let team of listOfTeam" value="{{ team }}">
                    {{ team }}
                </ion-select-option>
            </ion-select>
            <ion-icon name="people-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--leader-->
        <ion-item lines="full">
            <ion-label position="floating">Leader</ion-label>
            <ion-select required name="leader" [(ngModel)]="createForm.leader" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel)="createForm.leader = null">
                <ion-select-option *ngFor="let leader of listOfLeader" value="{{ leader }}">
                    {{ leader }}
                </ion-select-option>
            </ion-select>
            <ion-icon name="person-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--date of the action-->
        <ion-item lines="full">
            <ion-label position="floating">Date of action</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" required name="date" [(ngModel)]="createForm.date" [ngModelOptions]="{standalone: true}" cancelText="Clear" (ionCancel) = "createForm.date =''"></ion-datetime>
            <ion-icon name="calendar-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <!--number of paricipants-->
        <ion-item lines="full">
            <ion-label position="floating">Number of participants</ion-label>
            <ion-input [(ngModel)]="createForm.number" type="number" inputmode="numeric" name="number" ></ion-input>
            <ion-icon name="person-add-outline" slot="end" class="suffix-icon"></ion-icon>
        </ion-item>
        <br><br>

        <!--list of needs-->
        <div class="decoratedLine"><span>List of needs</span></div>
        <ion-row *ngFor="let item of listOfNeeds;index as i">
            <!--item-->
            <ion-col size="6">
                <ion-input type="text" [(ngModel)]="item.name" placeholder="Item" name="needsName">
                </ion-input>
            </ion-col>
            <!--Number of item-->
            <ion-col size="4">
                <ion-input type="number" [(ngModel)]="item.number" inputmode="numeric" placeholder="Number"
                    name="needsNumber">
                </ion-input>
            </ion-col>
            <!--deleteItem button-->
            <ion-col size="2">
                <ion-icon name="trash-outline" (click)="deleteItem(i)" id="delete-btn">
                </ion-icon>
            </ion-col>
        </ion-row>
        <!--add button-->
        <ion-row>
            <ion-col size='12'>
                <ion-fab horizontal="end" vertical="bottom" id="ion-fab-add">
                    <ion-fab-button color="warning" (click)="addItem()">
                        <ion-icon md="add" ios="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
        </ion-row>
        <!--create event button-->
        <ion-row>
            <ion-col>
                <ion-button (click)="createEvent()" color="tertiary" expand="block" class="center">Create Event
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>