/****Buttons****/
/****delete button****/
#delete-btn {
  font-size: 35px;
  float: right;
  color: #808289;
}

/****add button****/
#ion-fab-add {
  margin-top: 10em;
  position: relative;
  float: right;
  margin: 20px 0;
  right: -7px;
}

#ion-fab-add-button {
  border: 1px solid #0C4559;
  border-radius: 30px;
}

#add-btn {
  color: #0C4559;
  font-size: 45px;
}

/****create event button****/
.center {
  text-align: center;
  margin-bottom: 10px;
}

/****decoratedLine of list of needs****/
.decoratedLine {
  overflow: hidden;
  text-align: center;
}

.decoratedLine>span {
  position: relative;
  display: inline-block;
}

.decoratedLine>span:before,
.decoratedLine>span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  width: 591px;
  /* half of limiter*/
  margin: 0 20px;
}

.decoratedLine>span:before {
  right: 100%;
}

.decoratedLine>span:after {
  left: 100%;
}

/****form size****/
form {
  margin: 30px;
}

/****select icons****/
.suffix-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 2px;
}