<div *ngIf="showSplashLogin" class="splashLogin">
  <div class="spinnerLogin">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>

<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="feedapp-icon">
    <ion-img  src="assets/icon/feedApp.png" ></ion-img>
  </ion-avatar>
  <div>
    <p>Proceed with your</p>
    <b>Login</b>
  </div>
  <form (ngSubmit)="f.form.valid && Login(usernameInput,passwordInput)" #f="ngForm">
    <!-- Basic Error Message -->
    <div >
      <span class="error-text" *ngIf="error">Please check your Login information.</span>
    </div>
    <div *ngIf="f.submitted && isLoginFailed" class="error-text">
      {{errorMessage}}
    </div>
    <ion-item lines="full" size=8>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" clearInput="true" clearOnEdit="true" [(ngModel)]="loginForm.phone" [ngModelOptions]="{standalone: true}" pattern="^0[67]{1}[0-9]{8}$"  inputmode="tel" required #usernameInput="ngModel"></ion-input>
      <ion-icon name="person-outline" slot="end" class="suffix-icon"></ion-icon>      
    </ion-item>

    <div class="help is-error error-message " *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
      <div *ngIf="usernameInput.errors.required">Phone Number is required</div> 
      <div *ngIf="!usernameInput.errors.required">This phone number is invalid</div> 
    </div>
    
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" clearInput="true" clearOnEdit="true" [(ngModel)]="loginForm.password" [ngModelOptions]="{standalone: true}" required #passwordInput="ngModel"></ion-input>
      <ion-icon name="key-outline" slot="end" class="suffix-icon"></ion-icon>
    </ion-item>
    <div class="help is-error error-message" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
      Password is required
    </div>
    <br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" class="signIn">Sign In</ion-button>
        <a [routerLink]="['/password-forgotten']" class="small-text" class="forgot" >Forgot Password?</a>

      </ion-col>
    </ion-row>
    <span class="divider line one-line">or</span>
    <ion-row>
      <ion-col>
        <ion-button (click)="toRegister()" color="tertiary" expand="block" class="signIn">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>