ion-card{
    background-color: rgb(240, 238, 238);  
}
ion-card-title{
    margin-top:-9px;
    font-size: large;
}
ion-card-content{
    margin-top:-11px;
    font-size: smaller;
}
ion-buttons{
    border-top: 1px solid hsl(0, 5%, 76%); 
    margin-top: 3px;
   
}

ion-button{ 
    padding-right: 1em;
    padding-left: 1em;
    font-size: small;
    width:35%;
}
#donate{
    border-right: 1px solid hsl(0, 5%, 76%); 
    
}
#participate{
    border-right: 1px solid hsl(0, 5%, 76%);   
}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

    
    
    
    