<!--ion-list>
  <ion-list-header>
    <ion-label>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    </ion-label>
  </ion-list-header>
  <ion-item >
    <ion-avatar slot="start">
      <ion-skeleton-text class="skeletonAnimation"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text  style="width: 80%" class="skeletonAnimation"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text  style="width: 50%" class="skeletonAnimation"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated class="skeletonAnimation"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%" class="skeletonAnimation"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%" class="skeletonAnimation"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 60%" class="skeletonAnimation"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>

<div>
  <ion-card *ngFor="let event of events">
    <ion-skeleton-text  style="height: 120px;" class="skeletonAnimation"></ion-skeleton-text>
    <ion-card-header>
    <ion-skeleton-text  style="width: 80%" class="skeletonAnimation"></ion-skeleton-text>
  </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text  style="width: 50%" class="skeletonAnimation"></ion-skeleton-text>
    </ion-card-content>
    <ion-buttons class="button-bar">
      <ion-skeleton-text  style="width: 60%; margin-left : 2px" class="skeletonAnimation"></ion-skeleton-text>
      <ion-skeleton-text  style="width: 60%; margin-left : 2px" class="skeletonAnimation"></ion-skeleton-text>
      <ion-skeleton-text  style="width: 60%; margin-left : 2px;margin-right : 2px" class="skeletonAnimation"></ion-skeleton-text>
    </ion-buttons>
  </ion-card>
</div-->
<ion-grid>
  <ion-row *ngIf="contentLoaded != false">
    <ion-card *ngFor="let event of events">
      <div class="button-container">
        <img src="assets/city/{{event.informations.img}}" (click)="getMoreDetailsEvent(event)" />
        <ion-icon name="ellipsis-vertical" (click)="presentPopover($event, event)"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title>{{event.informations.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{event.informations.city}} | {{event.informations.organizedby}} |{{event.informations.date}}
      </ion-card-content>
      <ion-buttons class="button-bar">
         <ion-button id="participate"  >Participate</ion-button>
        <ion-button id="donate" >Donate</ion-button>
        <ion-button id="more" (click)="getMoreDetailsEvent(event)" >More</ion-button>
      </ion-buttons>
    </ion-card>
  </ion-row>
  <div *ngIf="contentLoaded == false">
    <ion-row *ngFor="let v of [1,2,3,4]">
      <ion-card style="width : 100%">
        <ion-skeleton-text style="width: 100%;height:130px"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text style="width:170px;height: 20px;margin-bottom:2px;margin-top:-10px"></ion-skeleton-text>
          </ion-card-header>
        <ion-card-content >
          <ion-skeleton-text style="width:140px;height: 8px;margin-bottom:2px"></ion-skeleton-text>
        </ion-card-content>
        <ion-buttons class="button-bar" style="height : 30px">
          <ion-skeleton-text  style="width: 50%; margin-right: 2px;"></ion-skeleton-text>
          <ion-skeleton-text  style="width: 50%; margin-right: 2px;"></ion-skeleton-text>
          <ion-skeleton-text  style="width: 50%"></ion-skeleton-text>
        </ion-buttons>
      </ion-card>
    </ion-row>
  </div>

</ion-grid>