.donate-btn {
    text-align: center;
    margin-bottom: 10px;
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 40px auto;
    overflow: hidden;
    padding: 50px;
    color: #4c4e56;
}

h1 {
    text-align: center;
}

