//********Top side********/
.action {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .action h3 {
    color: #606060;
    font-family: "Oswald", serif;
  }
  .action ion-icon {
    padding: 0.5em;
    font-size: 30px;
    color: #606060;
    border: 2px solid #606060;
    border-radius: 9999em;
    background-color: #e9e8eb;
  }
  /********************events*****************************/
  .event1 {
    margin-top: -1em;
  }
  .event2 {
    margin-top: -4em;
  }
  /********************info in the cards*****************************/
  .info {
    margin-top: -2.7em;
    margin-left: 10em;
    position: relative;
  }
  
  .info ion-icone {
    float: left;
    text-align: left;
  }
  ul {
    list-style: none;
    padding: 1em;
    position: relative;
  }
  
  .info ul {
    border: 1px solid #606060;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(243, 244, 246);
    box-shadow: 1px 2px 8px #888888;
  }
  
  .info ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2em;
    width: 0.7%;
    height: 100%;
    background-color: #0b5394;
    float: left;
  }
  .info ul li {
    position: relative;
  }
  .title {
    font-size: 18px;
    color: #f3c727;
  }
  .place {
    font-size: 13px;
  }
  .time {
    margin-top: 5em;
    left: -9em;
    text-align: left;
  }
  .role {
    font-size: 13px;
    color: #3171e0;
  }
  /********************the circles*****************************/
  
  .info ul span {
    position: absolute;
    left: -2.4em;
    top: 1em;
  }
  
  .info ul span::before {
    content: "";
    top: -1.5em;
    width: 10px;
    height: 10px;
    border: 2px solid #0b5394;
    background-color: white;
    position: absolute;
    border-radius: 50%;
  }
  .info::before {
    content: "";
    position: absolute;
    top: 5.1em;
    left: -1.9em;
    height: 50%;
    width: 0;
    border-left: 1px dashed black;
  }
  .info ul span::after {
    content: "";
    position: absolute;
    top: 4em;
    width: 10px;
    height: 10px;
    border: 2px solid #f3c727;
    background-color: white;
    border-radius: 50%;
  }
  