/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.searchbar-input.sc-ion-searchbar-md {
  -webkit-padding-start: 45px;
  padding-inline-start: 45px;
  -webkit-padding-end: 5px;
  padding-inline-end: 5px;
}


.dialogIsOpen{
  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%) !important; 
  z-index: -9999;
  pointer-events: none;
}

.pointerEvent {
  pointer-events: none;
}

.required {
  color: red;
  padding-left: 2px;
}


/* Annimation of skeletion */
.skeletonAnimation {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.89) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.my-custom-modal-css .modal-wrapper {
  height: 50%;
  width: 80%;
  border-radius: 5px;
  position: absolute;
  display: block;
}