
<app-event [events] = "events"></app-event>
<!--
<ion-content>
    <ion-tabs>
      <ion-tab-bar selectedTab="profile" slot="bottom">
        <ion-tab-button tab="profile" selected="true">
          <ion-icon name="person"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="actions">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>My Actions</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
-->
