<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Home Page
      </ion-title>
    </ion-toolbar>
  </ion-header>	
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Home Page</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <p>Here we should start our Application ? <br> plz don't change any thing in this component</p>
    </div>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Color name </div>
        </ion-col>
        <ion-col>
          <div>Code</div>
        </ion-col>
        <ion-col>
          <div>Example </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>primary </div>
        </ion-col>
        <ion-col>
          <div>#0C4559</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="primary"> Primary </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>secondary </div>
        </ion-col>
        <ion-col>
          <div>#0B5394</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="secondary"> Secondary </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>tertiary </div>
        </ion-col>
        <ion-col>
          <div>#F3C727</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="tertiary"> Tertiary </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>success </div>
        </ion-col>
        <ion-col>
          <div>#2dd36f</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="success"> Success </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>warning </div>
        </ion-col>
        <ion-col>
          <div>#F3C727</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="warning"> warning </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>danger </div>
        </ion-col>
        <ion-col>
          <div>#eb445a</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="danger"> Danger </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>dark </div>
        </ion-col>
        <ion-col>
          <div>#222428</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="dark"> Dark </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>medium </div>
        </ion-col>
        <ion-col>
          <div>#EEEEEE</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="medium"> Medium </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>light </div>
        </ion-col>
        <ion-col>
          <div>#FFFFFF</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="light"> Light </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>More Event 1 </div>
        </ion-col>
        <ion-col>
          <div>#0C4559</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="primary" (click) = "getMoreDetailsEvent(this.events[0])"> More Event 1 </ion-button> </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>More Event 2 </div>
        </ion-col>
        <ion-col>
          <div>#0C4559</div>
        </ion-col>
        <ion-col>
          <div><ion-button color="primary" (click) = "getMoreDetailsEvent(this.events[1])"> More Event 2 </ion-button> </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  </ion-content>
