ion-header {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #0b5394, #0575e6);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

ion-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}
.header-md::after {
  bottom: 0;
  background-image: none;
}

ion-avatar {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}

ion-avatar img {
  margin-top: 3em;
  width: 70px;
  border-radius: 10px;
}
#user_pic {
  margin-top: -2.3em;
  margin-left: 3em;
  width: 30px;
  height: 30px;
}
#user_pic ion-icon {
  font-size: 20px;
}
.picker-col {
  height: 50px;
}
