.splashRegister {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #fff;
}

.spinnerRegister {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
  background-color: #0C4559;
}
.cube1 {
  background-color: #F3C727;
}
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: -webkit-filter 200ms linear;
}


form { margin: 30px;}
.feedapp-icon,p,b{
    display: block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
b {font-size: 20px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-style: normal;}
ion-header::after {
    background-image: none;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0px !important;
}

.suffix-icon { position: absolute; bottom: 0; right: 0; margin-left: 2px; }
.signIn{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 9999em;
    text-align: center;
}
.forgot{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 9999em;
    width:50%;
    text-align: center;
}
a{text-decoration: none;font-size: 10px;} 

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    display: block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
  }

  .error-message-box {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 20px 30px;
  }

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.container { position: relative; }
.container ion-img { display: block;}
.container ion-icon {
  position: absolute;
  bottom:3%;
  right:3%;
  border-radius: 50%;
  color: white;
  background-color: #0B5394;
  display: inline-block;
  box-shadow: 0px 0px 2px #888;
  padding: 0.2em 0.2em;
}

/*
.my-custom-modal-css .modal-wrapper {
  height: 50%;
  width: 80%;
  border-radius: 5px;
  top: 80%;
  position: absolute;
  display: block;
}*/